.App {
    text-align: center;
}

.navBar {
    text-align: left;
    padding: 10px;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    /*height: 80px;*/
}

.App-header {
    background-color: #222;
    /*height: 250px;*/
    width: 100%;
    color: white;
}

.footer {
    background-color: #222;
    color: white;
    padding: 10px;

}

h1 {
    padding: 30px;
}

.App-title {
}

.App-intro {
    font-size: large;
}

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
