.product {
    background: white;
    margin: 8px;
    padding: 8px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid;
}

.product-name {
    height: 50px;
}

.thumb {
    width: 60%;
}

label {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.p0 {
    padding: 0px;
}