.App {
    text-align: center;
}

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.App-header {*/
    /*text-align: center;*/
    /*background-color: #222;*/
    /*height: 100px;*/
    /*padding-bottom: 20px;*/
    /*color: white;*/
/*}*/

.App-title {
    margin-top: 0px;
}

.App-intro {
    font-size: large;
}

/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
